<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        New Mapping
      </div>
      <div class="card-body">
        <%= simple_form_for @mapping do |f| %>
          <%= f.input :regexstring ,label: 'Regular Expression to search in document'%>
          <%= f.input :direcory, label: 'Directory to move document if Regualr Expression was found' %>
          <%= f.button :submit ,'Save', class: 'btn btn-primary'%>
          <%= f.button :button, "Reset", type: "reset", class: "btn-outline-secondary" %>  
          <%= f.button :button, "Back", class: 'btn btn-secondary'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
