<p id="notice"><%= notice %></p>

<p>
  <strong>Regexstring:</strong>
  <%= @mapping.regexstring %>
</p>

<p>
  <strong>Direcory:</strong>
  <%= @mapping.direcory %>
</p>

<%= link_to 'Edit', edit_mapping_path(@mapping) %> |
<%= link_to 'Back', mappings_path %>
